:root {
    --main-bg-color: #d8d8d8;
    --bg-dark: #2c2c2c;
}

body {
    background-color: var(--main-bg-color);
    font-family: "Lato", sans-serif;
}

body > div:nth-child(2) > svg {
    padding-right: 5px;
}

nav > div > ul {
    /* background-color: blue !important; */
}

nav > div > ul > li {
    /* background-color: red !important; */
}

.carousel {
}

.carousel .item {
    position: relative;
}

.carousel .item img {
    width: 33%;
    height: 33%;
}

.carousel-control-prev {
    margin-left: -100px;
}

.carousel-control-next {
    margin-right: -100px;
}

.pricing > .card-img-top {
    max-height: 110px;
}

.card-text {
    color: rgb(131, 129, 129);
    margin-bottom: 30px;
}

.icon-price {
    justify-content: space-between;
    align-items: center;
}

.icon-price > span {
    color: rgb(97, 96, 96);
}

.self-bg-dark {
    background-color: var(--bg-dark);
}

.navbar-brand {
    max-height: 24px;
    max-width: 25px;
}

.profile {
    max-height: 24px;
    max-height: 24px;
    border-radius: 50%;
}

.limited {
    width: 115px;
    height: 115px;
    overflow: hidden;
    display: block;
    position: relative;
}

.limited > img {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
    border-radius: 2px;
}

#disclaimer {
    display: flex;
}

#firstspan {
    margin-right: 20px;
    border-right: 1px solid rgb(155, 155, 155);
    font-size: 13px;
}

#secondspan svg {
    color: rgb(107, 0, 139);
}

b {
    color: rgb(107, 0, 139);
}
