body {
  background-color: #0b113c;
}

.heading {
  color: #951283;
  text-transform: uppercase;
  text-align: center;
}

.month {
  border: 1px solid white;
}

.day {
  color: white;
  display: inline;
  padding: 25px;
}

.end-day {
  color: white;
  padding: 25px;
  display: inline;
}

.end-day::after {
  content: "\A";
  white-space: pre;
}
